.checkAll{
    width:100%;
    min-height:720px;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.check_password{
    width:500px;
    height:100px;
    border :1px solid #fff;
    border-radius: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.check_password > h4 {
    float: left;
}
.check_password > input {
    margin-left:10px;
    border:none;
    float:left;
}
.check_password > input:focus {
    outline:3px solid #C0D4F8;
}
.check_password > button {
    margin-left:10px;
    border-radius: 5px;
    color:#83A0D2;
    border:#ebebeb;
    background-color: #fff;
}
.check_password > p{
    color:red;
    margin-left: 10px;
}